<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.susalud.gob.pe.pas_actforresult">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityMed1"
            android:label="@string/title_activity_activity_med1"></activity>
        <activity
            android:name=".ActivityMed2"
            android:label="@string/title_activity_activity_med2"></activity>
        <activity
            android:name=".ActivityMed1Sub1"
            android:label="@string/title_activity_activity_med1_sub1"></activity>
        <activity
            android:name=".ActivityMed1Sub2"
            android:label="@string/title_activity_activity_med1_sub1"></activity>
        <activity
            android:name=".ActivityMed1Sub3"
            android:label="@string/title_activity_activity_med1_sub1"></activity>

        <activity
            android:name=".ActivityMed2Sub1"
            android:label="@string/title_activity_activity_med1_sub1"></activity>

        <activity
            android:name=".ActivityMed2Sub2"
            android:label="@string/title_activity_activity_med1_sub1"></activity>
        <activity
            android:name=".ActivityMed2Sub3"
            android:label="@string/title_activity_activity_med1_sub1"></activity>

        <activity
            android:name=".ActivityMed2Sub3Sub1"
            android:label="@string/title_activity_activity_med1_sub1"></activity>

        <activity
            android:name=".ActivityMed2Sub3Sub2"
            android:label="@string/title_activity_activity_med1_sub1"></activity>
        <activity
            android:name=".ActivityMed2Sub4"
            android:label="@string/title_activity_activity_med1_sub1"></activity>


    </application>

</manifest>
